body{
    padding: 0;
    margin: 0;
    font-family: Roboto, Noto, sans-serif;
}
.home-header {
    width: 100vw;
    height: 4.5rem;
    display: flex;
    flex-flow: row wrap;
}
.home-product-list{
    display: none;
}
.phone-list .phone-image, .tablet-list .tablet-image , .laptop-list .laptop-image{
    display: none;
}
.home-header img{
    width: 1.5rem;
    height: 1.5rem;
}
.home-product-category{
    width: 40vw;
}
.home-product-category img{
    margin: 15% 20%;
}
.home-shop{
    width: 20vw;
    text-align: center;
    margin-top: 7%;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.3rem;
}
.home-shop p{
    padding: 0;
    margin: 0;
}
.home-shop a{
    text-decoration: none;
    color: #000000;
}
.home-cart-logo{
    width: 40vw;
}
.home-cart-logo img{
    margin: 15% 0 0 60%;
}

.home-product-section img{
    width: 100vw;
    height: 15rem;
}

.home-product-section p{
    margin: 3vh 30vw 2vh 30vw; 
    width: 40vw;
    text-align: center;
}
.home-product-section button{
    margin: 3vh 30vw 7vh 30vw; 
    width: 40vw;
    text-align: center;
}

.home_button_1{
    height: 40px;
    background-color: #ffffff;
}

.home-footer{
    text-align: center;
}
.home-footer p{
 color: #000000;
 font-weight: 100;
 font-size: small;
}
.home-footer div{
    background-color: black;
    height: 2rem;
    color: #ffffff;
    width: 30vw;
    line-height: 2rem;
    margin: auto;
    font-size:small;
}

/* phone */

.phone-list p{
    text-align: center;
}
.phone-list .l1{
    margin: 0;
}
.phone-list .l2{
    margin: 0.5rem;
    font-size: 75%;
    font-weight: lighter;
}

.phone-item-list{
    display: flex;
    flex-flow: row wrap;
}
.phone-item-list a{
    text-decoration: none;
    color: #000000;
    text-align: center;
}
.phone-item{
    text-align: center;
    width: 50vw;
    margin: 5% 0;
}
.phone-item img{
    width: 6rem;
    height: 12rem;
}
.phone-item p:nth-child(even) {
    font-size: 70%;
    font-weight: bolder;
    padding: 0 4%;
}
.phone-item p:nth-child(odd) {
    font-size: 70%;
    font-weight:lighter;
}

/* tablets */

.tablet-list p{
    text-align: center;
}
.tablet-list .l1{
    margin: 0;
}
.tablet-list .l2{
    margin: 0.5rem;
    font-size: 75%;
    font-weight: lighter;
}

.tablet-item-list{
    display: flex;
    flex-flow: row wrap;

}
.tablet-item-list a{
    text-decoration: none;
    color: #000000;
    text-align: center;
}
.tablet-item{
    text-align: center;
    width: 50vw;
    margin: 5% 0;
    font-size: 80%;
}
.tablet-item img{
    width: 6rem;
    height: 12rem;
}
.tablet-item p:nth-child(even) {
    font-size: 70%;
    font-weight: bolder;
    padding: 0 4%;
}
.tablet-item p:nth-child(odd) {
    font-size: 70%;
    font-weight:lighter;
}

/* laptops */

.laptop-list p{
    text-align: center;
}
.laptop-list .l1{
    margin: 0;
}
.laptop-list .l2{
    margin: 0.5rem;
    font-size: 75%;
    font-weight: lighter;
}

.laptop-item-list{
    display: flex;
    flex-flow: row wrap;

}
.laptop-item-list a{
    text-decoration: none;
    color: #000000;
    text-align: center;
}
.laptop-item{
    text-align: center;
    width: 50vw;
    margin: 5% 0;
    font-size: 80%;
}
.laptop-item img{
    width: 10rem;
    height: 8rem;
}
.laptop-item p:nth-child(even) {
    font-size: 70%;
    font-weight: bolder;
    padding: 0 4%;
}
.laptop-item p:nth-child(odd) {
    font-size: 70%;
    font-weight:lighter;
}

/* single phone detail */

.single-phone-detail{
    padding: 5%;
}
.single-phone-detail-image img{
    width: 10rem;
    height: 18rem;
    margin: 0 25%;
    text-align: center;
}

.single-phone-detail-description .description{
    font-size: 90%;
}
.single-phone-detail-description .price{
    font-size: 70%;
    font-weight: lighter;
}

.single-phone-detail-description .features{
    font-weight: lighter;
    font-size: 100%;
}
.single-phone-detail li{
    font-weight: lighter;
    font-size: 80%;
}

.single-phone-detail .phone-specification{
    margin: 10% 0;
}

.single-phone-detail .phone-specification .l1{
    height: 1px;
    width: 100%;
    font-weight:100;
    background-color: #7e7b7b;
    margin: 8% 0;
}

.single-phone-detail ul{
    margin-bottom: 20%;
}

.phone-specification .image{
    height: 1rem;
    width: 1rem;
    margin-left: 60%;
}
.phone-specification .phone-memory .image{
    margin-left: 52%;
}
.phone-specification {
    font-size: 80%;
    font-weight: lighter;
}
.phone-specification .quantity-value, .phone-specification .ram-value, .phone-specification .memory-value{
    margin: 0 5%;
    font-weight:800;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer button{
    bottom: 0;
    font-size: 100%;
    width: 100%;
    height: 4rem;
    background-color: #080944;
    color: #ffffff;
}

/* single tablet detail */

.single-tablet-detail{
    padding: 5%;
}
.single-tablet-detail-image img{
    width: 10rem;
    height: 18rem;
    margin: 0 25%;
    text-align: center;
}

.single-tablet-detail-description .description{
    font-size: 90%;
}
.single-tablet-detail-description .price{
    font-size: 70%;
    font-weight: lighter;
}

.single-tablet-detail-description .features{
    font-weight: lighter;
    font-size: 100%;
}
.single-tablet-detail li{
    font-weight: lighter;
    font-size: 80%;
}

.single-tablet-detail .tablet-specification{
    margin: 10% 0;
}

.single-tablet-detail .tablet-specification .l1{
    height: 1px;
    width: 100%;
    font-weight:100;
    background-color: #7e7b7b;
    margin: 8% 0;
}

.single-tablet-detail ul{
    margin-bottom: 20%;
}

.tablet-specification .image{
    height: 1rem;
    width: 1rem;
    margin-left: 60%;
}
.tablet-specification .tablet-memory .image{
    margin-left: 52%;
}
.tablet-specification {
    font-size: 80%;
    font-weight: lighter;
}
.tablet-specification .quantity-value, .tablet-specification .ram-value, .tablet-specification .memory-value{
    margin: 0 5%;
    font-weight:800;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer button{
    bottom: 0;
    font-size: 100%;
    width: 100%;
    height: 4rem;
    background-color: #080944;
    color: #ffffff;
}

/* single laptop detail */

.single-laptop-detail{
    padding: 5%;
}
.single-laptop-detail-image img{
    width: 15rem;
    height: 10rem;
    text-align: center;
    margin: 0 14%;
}

.single-laptop-detail-description .description{
    font-size: 90%;
}
.single-laptop-detail-description .price{
    font-size: 70%;
    font-weight: lighter;
}

.single-laptop-detail-description .features{
    font-weight: lighter;
    font-size: 100%;
}
.single-laptop-detail li{
    font-weight: lighter;
    font-size: 80%;
}

.single-laptop-detail .laptop-specification{
    margin: 10% 0;
}

.single-laptop-detail .laptop-specification .l1{
    height: 1px;
    width: 100%;
    font-weight:100;
    background-color: #7e7b7b;
    margin: 8% 0;
}

.single-laptop-detail ul{
    margin-bottom: 20%;
}

.laptop-specification .image{
    height: 1rem;
    width: 1rem;
    margin-left: 60%;
}
.laptop-specification .laptop-memory .image{
    margin-left: 50%;
}
.laptop-specification {
    font-size: 80%;
    font-weight: lighter;
}
.laptop-specification .quantity-value, .laptop-specification .ram-value, .laptop-specification .memory-value{
    margin: 0 5%;
    font-weight:800;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer button{
    bottom: 0;
    font-size: 100%;
    width: 100%;
    height: 4rem;
    background-color: #080944;
    color: #ffffff;
}

/* cart styling */

.phone-cart p{
    text-align: center;
}
.phone-cart-details{
    display: flex;
    padding: 5%;
}
.phone-cart .phone-cart-details .phone-cart-product-image img{
    width: 3rem;
    height: 5rem;
}
.phone-cart-product-image{
    text-align: center;
    float: left;
    width: 25%;
    margin: auto 0;
}
.phone-cart-specification{
    float: right;
    width: 90%;
    font-size: 80%;
    padding: 5%;
}
.phone-cart-specs div{
    margin: 4% 0;
    font-weight: lighter;
}
.phone-cart-specs div:nth-child(3n){
    margin:0 4.5%;
}
.phone-cart-specification div span{
    margin: 0 4%;
}

.phone-cart-specs div span img{
    width: 0.8rem;
    height: 0.8rem;
}
.phone-cart-name {
    display: flex;
}
.phone-cart-name h1{
    width: 85%;
    float: left;
    padding: 0;
    margin: 2% 0;
    font-size: 75%;
}
.phone-cart-name img{
    width: 30%;
    float: right;
    width: 1rem;
    height: 1rem;
    margin-left: 10%;
}

.cart-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.cart-footer button{
    bottom: 0;
    font-size: 100%;
    width: 100%;
    height: 4rem;
    background-color: #080944;
    color: #ffffff;
}

.cart-home-footer{
    display: none;
}

.total-cart-price{
    font-weight: bold;
    margin-left: 65%;
    font-size: 80%;
}

/* checkout styling */

.checkout-info{
    margin-bottom: 20%;
}
.checkout-info p{
    text-align: center;
}
.checkout-info .l1{
    margin: 0;
}
.checkout-info .l2{
    margin: 0.5rem;
    font-size: 75%;
    font-weight: lighter;
}

.checkout-details{
    padding: 5% 8%;
}
.account-info{
    margin: 0 0 5% 0;
    font-size: small;
    font-weight: bold;
}

form .email, form .mobile{
    width: 97%;
    margin: 5% 0;
    height: 2rem;
    border: none;
    font-size: 100%;
    border-bottom: 1px solid #b8b4b4;
}

.shipping-info{
    margin: 5% 0;
    font-size: small;
    font-weight: bold;
}

form .address, form .city{
    width: 97%;
    margin: 5% 0;
    height: 2rem;
    border: none;
    font-size: 100%;
    border-bottom: 1px solid #b8b4b4;
}
form .state, form .code{
    width: 47%;
    margin: 5% 0;
    height: 2rem;
    border: none;
    font-size: 100%;
    border-bottom: 1px solid #b8b4b4;
}

.country-info{
    font-size: 90%;
}
.country-info .country{
    margin: 5% 0;
}

.country-info .type-of-country img{
    width: 1rem;
    height: 1rem;
}

.country-info .type-of-country input{
    width: 90%;
    margin: 0;
    height: 2rem;
    border: none;
    font-size: 100%;
    font-weight:700;
}

.country-info .l1{
    height: 1px;
    border-bottom: 1px solid #b8b4b4;
    width: 97%;
}

#billing-add-details {
    display: none;
    font-size: 90%;
}
#billing-add-details .country{
    margin: 5% 0;
}

#billing-add-details .type-of-country img{
    width: 1rem;
    height: 1rem;
}

#billing-add-details .type-of-country input{
    width: 90%;
    margin: 0;
    height: 2rem;
    border: none;
    font-size: 100%;
    font-weight:700;
}

#billing-add-details .l1{
    height: 1px;
    border-bottom: 1px solid #b8b4b4;
}

.billing-info .billing-address{
    margin: 5% 0;
    font-size: small;
    font-weight: bold;
}
.billing-info .b1{
    margin: 0 3% 0 0;
    padding: 0;
    height: 1rem;
    width: 1rem;
}
.billing-info label{
    font-size: small;
    font-weight: lighter;
}

.payment-info{
    margin: 5% 0;
    font-size: small;
    font-weight: bold;
}

form .name, form .number{
    width: 97%;
    margin: 5% 0;
    height: 2rem;
    border: none;
    font-size: 100%;
    border-bottom: 1px solid #b8b4b4;
}

.payment-info .card-details input{
    width: 30.5%;
    margin: 5% 0;
    height: 2rem;
    border: none;
    font-size: 120%;
    border-bottom: 1px solid #b8b4b4;
}

.order-details .order{
    margin: 5% 0;
    font-size: small;
    font-weight: bold;
}
.order-details .product-details span{
    font-size: 70%;
}
.order-details .product-details span:nth-child(even){
    margin-left: 18%;
}

.order-details .total-price{
    margin: 10% 0;
    color: #000000;
}
.order-details .total-price span{
    font-size: 90%;
}
.order-details .total-price span:nth-child(even){
    margin-left: 65%;
}

.checkout-home-footer{
    display: none;
}

.checkout-place-footer button{
    bottom: 0;
    font-size: 100%;
    width: 100%;
    height: 4rem;
    background-color: #080944;
    color: #ffffff;
}

/* tablet resoluytion */

@media screen and (max-width: 510px) {
    .order-details .product-details{
        font-size: 75%;
    }
    .order-details .total-price{
        font-size: 90%;
    }
    .order-details .product-details span:nth-child(even){
        margin-left: 33%;
    }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
    .home-header .home-product-category img{
        margin: 9%;
    }
    .home-header .home-shop{
        margin-top: 4%;
    }
    .home-header .home-cart-logo img{
        margin-left: 80%;
        margin-top: 10%;
    }
    .home-product-section img{
        height: 25rem;
    }
    .home-product-section .home_button_1{
        width: 25%;
        margin-left: 37%;
        margin-right: 37%;
    }
    .home-footer div{
        width: 18%;
    }
    .phone-list .phone-item-list .phone-item img{
        width: 10rem;
        height: 20rem;
    }
    .tablet-list .tablet-item-list .tablet-item img{
        width: 10rem;
        height: 20rem;
    }
    .laptop-list .laptop-item-list .laptop-item img{
        width: 15rem;
        height: 15rem;
    }
    .phone-list .phone-item-list .phone-item p{
       font-size: 80%;
    }
    .tablet-list .tablet-item-list .tablet-item p{
        font-size: 90%;
     }
    .laptop-list .laptop-item-list .laptop-item p{
        font-size: 90%;
    }
    .single-phone-detail .single-phone-detail-image img{
        width: 15rem;
        height: 30rem;
    }
    .single-phone-detail .single-phone-detail-image{
        text-align: center;
    }
    .single-phone-detail-description h1{
        margin: 5% 0;
    }
    .single-phone-detail-description .price{
        font-size: 90%;
    }
    .single-phone-detail-description .phone-specification .l1{
        margin: 3% 0;
    }
    .single-phone-detail-description .phone-specification{
        font-size: 90%;
    }
    .single-phone-detail-description .phone-specification .phone-ram .image{
        margin-left: 70%;
    }
    .single-phone-detail-description .phone-specification .phone-memory .image{
        margin-left: 65%;
    }
    .single-phone-detail-description .phone-specification .phone-quantity .image{
        margin-left: 69.5%;
    }
    .single-phone-detail-description ul{
        font-size: 120%;
    }

    .single-tablet-detail .single-tablet-detail-image img{
        width: 15rem;
        height: 30rem;
    }
    .single-tablet-detail .single-tablet-detail-image{
        text-align: center;
    }
    .single-tablet-detail-description h1{
        margin: 5% 0;
    }
    .single-tablet-detail-description .price{
        font-size: 90%;
    }
    .single-tablet-detail-description .tablet-specification .l1{
        margin: 3% 0;
    }
    .single-tablet-detail-description .tablet-specification{
        font-size: 90%;
    }
    .single-tablet-detail-description .tablet-specification .tablet-ram .image{
        margin-left: 70%;
    }
    .single-tablet-detail-description .tablet-specification .tablet-memory .image{
        margin-left: 65%;
    }
    .single-tablet-detail-description .tablet-specification .tablet-quantity .image{
        margin-left: 69.5%;
    }

    .single-tablet-detail-description ul{
        font-size: 120%;
    }

    .single-laptop-detail .single-laptop-detail-image img{
        width: 25rem;
        height: 18rem;
    }
    .single-laptop-detail .single-laptop-detail-image{
        text-align: center;
    }
    .single-laptop-detail-description h1{
        margin: 5% 0;
    }
    .single-laptop-detail-description .price{
        font-size: 90%;
    }
    .single-laptop-detail-description .laptop-specification .l1{
        margin: 3% 0;
    }
    .single-laptop-detail-description .laptop-specification{
        font-size: 90%;
    }
    .single-laptop-detail-description .laptop-specification .laptop-ram .image{
        margin-left: 70%;
    }
    .single-laptop-detail-description .laptop-specification .laptop-memory .image{
        margin-left: 65%;
    }
    .single-laptop-detail-description .laptop-specification .laptop-quantity .image{
        margin-left: 69.5%;
    }
    .single-laptop-detail-description ul{
        font-size: 120%;
    }
    .phone-cart-specification{
        font-size: 100%;
    }
    .phone-cart-details{
        padding-top: 0;
    }
    .phone-cart .phone-cart-details .phone-cart-product-image img{
        height: 10rem;
        width: 5rem;
    }
    .phone-cart .total-cart-price{
        margin-left: 76%;
    }
    .checkout-details{
        padding: 3%;
    }
    .checkout-info .checkout-details form .state, .checkout-info .checkout-details form .code{
        width: 47.5%;
    }
    .checkout-info .checkout-details form .month, .checkout-info .checkout-details form .year, .checkout-info .checkout-details form .cvv{
        width: 31.5%;
    }
    .checkout-info .checkout-details .order-details{
        font-size: 100%;
    }
    .checkout-info .checkout-details .order-details .product-details span:nth-child(even){
        margin-left: 59%;
    }
    .checkout-info .checkout-details .order-details .total-price span:nth-child(even){
        margin-left: 81%;
    }
}

/* tablet resolution */
@media screen and (min-width: 701px) and (max-width: 1100px) {
    .home-header{
        height: 6rem;
    }
    .home-header .home-product-category img{
        display: none;
    }
    .home-product-list{
        display: flex;
        flex-flow: row wrap;
        margin: 0 33%;
        width: 40%;
    }
    .home-product-list div{
        font-size: 80%;
        margin: 0 9.5%;
        text-align: center;
    }
    .home-product-list a{
        text-decoration: none;
        color: #000000;
        width: 33%;
    }
    .home-header .home-shop{
        margin-top: 3%;
    }
    .home-header .home-cart-logo img{
        margin-left: 80%;
        margin-top: 7%;
    }
    .home-product-section img{
        height: 30rem;
    }
    .home-product-section .home_button_1{
        width: 15%;
        margin-left: 42.5%;
        margin-right: 42%;
    }
    .home-footer div{
        width: 12%;
    }
    .phone-list .phone-image, .tablet-list .tablet-image , .laptop-list .laptop-image{
        display: block;
        width: 100%;
        height: 25rem;
    }
    .phone-list .l1, .tablet-list .l1, .laptop-list .l1{
        margin-top: 5%;
    }

    .phone-item-list{
        display: flex;
        flex-flow: row wrap;
    }
    .phone-item{
        text-align: center;
        width: 33vw;
        margin: 5% 0;
    }
    .tablet-item-list{
        display: flex;
        flex-flow: row wrap;
    }
    .tablet-item{
        text-align: center;
        width: 33vw;
        margin: 5% 0;
    }
    .laptop-item-list{
        display: flex;
        flex-flow: row wrap;
    }
    .laptop-item{
        text-align: center;
        width: 33vw;
        margin: 5% 0;
    }

    .phone-list .phone-item-list .phone-item img{
        width: 13rem;
        height: 25rem;
    }
    .tablet-list .tablet-item-list .tablet-item img{
        width: 13rem;
        height: 25rem;
    }
    .laptop-list .laptop-item-list .laptop-item img{
        width: 18rem;
        height: 12rem;
    }
    .phone-list .phone-item-list .phone-item p{
       font-size: 80%;
    }
    .tablet-list .tablet-item-list .tablet-item p{
        font-size: 90%;
     }
    .laptop-list .laptop-item-list .laptop-item p{
        font-size: 90%;
    }

    .footer{
        position: static;
        width: 20%;
    }

    .footer button{
        background-color: #ffffff;
        color: #000000;
        margin: 0 0 100% 365%;
        height: 3rem;
        width: 10rem;
    }

    .single-phone-detail{
        display: flex;
        width: 100%;
        padding: 5% 0;
    }
    .single-phone-detail-image img{
        width: 15rem;
        height: 30rem;
    }
    .single-phone-detail-image{
        float: left;
        width: 40%;
    }
    .single-phone-detail-description{
        float: right;
        width: 60%;
        padding: 0 4%;
    }

    .single-phone-detail-description .phone-specification .l1{
        margin: 2% 0;
    }

    .phone-specification .phone-ram span .image{
        margin-left: 75%;
        margin-right: 0;
    }
    .phone-specification .phone-memory span .image{
        margin-left: 70%;
        margin-right: 0;
    }
    .phone-specification .phone-quantity span .image{
        margin-left: 74.6%;
        margin-right: 0;
    }

    .single-phone-detail-description .price{
        font-size: 90%;
    }

    .single-tablet-detail{
        display: flex;
        width: 100%;
        padding: 5% 0;
    }
    .single-tablet-detail-image img{
        width: 15rem;
        height: 30rem;
    }
    .single-tablet-detail-image{
        float: left;
        width: 40%;
    }
    .single-tablet-detail-description{
        float: right;
        width: 60%;
        padding: 0 4%;
    }

    .single-tablet-detail-description .tablet-specification .l1{
        margin: 2% 0;
    }

    .tablet-specification .tablet-ram span .image{
        margin-left: 75%;
        margin-right: 0;
    }
    .tablet-specification .tablet-memory span .image{
        margin-left: 70%;
        margin-right: 0;
    }
    .tablet-specification .tablet-quantity span .image{
        margin-left: 74.6%;
        margin-right: 0;
    }

    .single-tablet-detail-description .price{
        font-size: 90%;
    }

    .single-laptop-detail{
        display: flex;
        width: 100%;
        padding: 5% 0;
    }
    .single-laptop-detail-image img{
        width: 20rem;
        height: 20rem;
    }
    .single-laptop-detail-image{
        float: left;
        width: 40%;
    }
    .single-laptop-detail-description{
        float: right;
        width: 60%;
        padding: 0 4%;
    }

    .single-laptop-detail-description .laptop-specification .l1{
        margin: 2% 0;
    }

    .laptop-specification .laptop-ram span .image{
        margin-left: 75%;
        margin-right: 0;
    }
    .laptop-specification .laptop-memory span .image{
        margin-left: 70%;
        margin-right: 0;
    }
    .laptop-specification .laptop-quantity span .image{
        margin-left: 74.6%;
        margin-right: 0;
    }

    .single-laptop-detail-description .price{
        font-size: 90%;
    }


    .phone-cart-specification{
        padding: 0 5%;
    }
    .phone-cart-specs{
        display: flex;
    }
    .phone-cart-specs div:nth-child(odd){
        width: 30%;
        text-align: center;
    }
    .phone-cart-specs div:nth-child(even){
        width: 40%;
        text-align: center;
    }
    .phone-cart-specs div:nth-child(3n){
        margin-top: 4%;
    }

    .phone-cart .phone-cart-details .phone-cart-product-image img{
        width: 5rem;
        height: 10rem;
    }

    .phone-cart-specification .phone-cart-name h1{
        font-size: 100%;
    }

    .total-cart-price{
        margin-left: 55%;
        margin-bottom: 2%;
    }

    .checkout-info .checkout-details{
        display: flex;
        flex-flow: row wrap;
    }
    .check_1{
        width: 40%;
        padding: 0 5%;
    }
    .check_2{
        width: 40%;
        padding: 0 5%;
    }
    .check_2 .payment-info{
        margin-top: 0;
    }
    .check_2 .order-details .product-details span:nth-child(even){
        margin-left: 32%;
    }

    .cart-home-footer{
        display: block;
    }
    .checkout-home-footer{
        display: block;
    }

    .cart-home-footer{
        text-align: center;
        margin-top: 20%;
    }
    .cart-home-footer p{
     color: #000000;
     font-weight: 100;
     font-size: small;
    }
    .cart-home-footer div{
        background-color: black;
        height: 2rem;
        color: #ffffff;
        width: 15vw;
        line-height: 2rem;
        margin: auto;
        font-size:small;
    }

    .checkout-home-footer{
        text-align: center;
        margin-top: 20%;
    }
    .checkout-home-footer p{
     color: #000000;
     font-weight: 100;
     font-size: small;
    }
    .checkout-home-footer div{
        background-color: black;
        height: 2rem;
        color: #ffffff;
        width: 150vw;
        line-height: 2rem;
        margin: auto;
        font-size:small;
        bottom: 0;
    }
    .cart-footer{
        position: relative;
        z-index: 2;
        width: 20%;
        margin-top: -5%;
    }
    .cart-footer button{
        background-color: #ffffff;
        color: #000000;
        margin-left: 350%;
        height: 3rem;
    }
    .checkout-home-footer{
        text-align: center;
        margin-top: 20%;
    }
    .checkout-home-footer p{
     color: #000000;
     font-weight: 100;
     font-size: small;
    }
    .checkout-home-footer div{
        background-color: black;
        height: 2rem;
        color: #ffffff;
        width: 15vw;
        line-height: 2rem;
        margin: auto;
        font-size:small;
    }
    .checkout-place-footer{
        position: relative;
        z-index: 1;
        margin-top: -42%;
    }
    .checkout-place-footer button{
        background-color: #ffffff;
        color: #000000;
        width: 15%;
        height: 3rem;
        margin-left: 54%;
    }
}

/* laptop resolution */

@media screen and (min-width: 1101px){
    .home-header{
        height: 8rem;
    }
    .home-header .home-product-category img{
        display: none;
    }
    .home-product-list{
        display: flex;
        flex-flow: row wrap;
        margin: 0 33%;
        width: 40%;
    }
    .home-product-list div{
        font-size: 80%;
        margin: 0 9.5%;
        text-align: center;
    }
    .home-product-list a{
        text-decoration: none;
        color: #000000;
        width: 33%;
    }
    .home-header .home-shop{
        margin-top: 3%;
    }
    .home-header .home-cart-logo img{
        margin-left: 80%;
        margin-top: 7%;
    }
    .home-product-section img{
        height: 40rem;
    }
    .home-product-section .home_button_1{
        width: 12%;
        margin-left: 44%;
        margin-right: 44%;
    }
    .home-footer div{
        width: 12%;
    }
    .phone-list .phone-image, .tablet-list .tablet-image , .laptop-list .laptop-image{
        display: block;
        width: 100%;
        height: 40rem;
    }
    .phone-list .l1, .tablet-list .l1, .laptop-list .l1{
        margin-top: 5%;
    }

    .phone-item-list{
        display: flex;
        flex-flow: row wrap;
    }
    .phone-item{
        text-align: center;
        width: 33vw;
        margin: 5% 0;
    }
    .tablet-item-list{
        display: flex;
        flex-flow: row wrap;
    }
    .tablet-item{
        text-align: center;
        width: 33vw;
        margin: 5% 0;
    }
    .laptop-item-list{
        display: flex;
        flex-flow: row wrap;
    }
    .laptop-item{
        text-align: center;
        width: 33vw;
        margin: 5% 0;
    }

    .phone-list .phone-item-list .phone-item img{
        width: 15rem;
        height: 27rem;
    }
    .tablet-list .tablet-item-list .tablet-item img{
        width: 15rem;
        height: 27rem;
    }
    .laptop-list .laptop-item-list .laptop-item img{
        width: 20rem;
        height: 14rem;
    }
    .phone-list .phone-item-list .phone-item p{
       font-size: 85%;
    }
    .tablet-list .tablet-item-list .tablet-item p{
        font-size: 95%;
     }
    .laptop-list .laptop-item-list .laptop-item p{
        font-size: 95%;
    }

    .footer{
        position: static;
        width: 20%;
    }

    .footer button{
        background-color: #ffffff;
        color: #000000;
        margin: 0 0 100% 365%;
        height: 3rem;
        width: 8rem;
    }

    .single-phone-detail{
        display: flex;
        width: 100%;
        padding: 5% 0;
    }
    .single-phone-detail-image img{
        width: 15rem;
        height: 30rem;
    }
    .single-phone-detail-image{
        float: left;
        width: 40%;
    }
    .single-phone-detail-description{
        float: right;
        width: 60%;
        padding: 0 4%;
    }

    .single-phone-detail-description .phone-specification .l1{
        margin: 2% 0;
    }

    .phone-specification .phone-ram span .image{
        margin-left: 75%;
        margin-right: 0;
    }
    .phone-specification .phone-memory span .image{
        margin-left: 71.5%;
        margin-right: 0;
    }
    .phone-specification .phone-quantity span .image{
        margin-left: 74.6%;
        margin-right: 0;
    }

    .single-phone-detail-description .price{
        font-size: 100%;
    }
    .single-phone-detail-description ul{
        font-size: 120%;
    }

    .single-tablet-detail{
        display: flex;
        width: 100%;
        padding: 5% 0;
    }
    .single-tablet-detail-image img{
        width: 15rem;
        height: 30rem;
    }
    .single-tablet-detail-image{
        float: left;
        width: 40%;
    }
    .single-tablet-detail-description{
        float: right;
        width: 60%;
        padding: 0 4%;
    }

    .single-tablet-detail-description .tablet-specification .l1{
        margin: 2% 0;
    }

    .single-tablet-detail-description ul{
        font-size: 120%;
    }

    .tablet-specification .tablet-ram span .image{
        margin-left: 75%;
        margin-right: 0;
    }
    .tablet-specification .tablet-memory span .image{
        margin-left: 71.5%;
        margin-right: 0;
    }
    .tablet-specification .tablet-quantity span .image{
        margin-left: 74.6%;
        margin-right: 0;
    }

    .single-tablet-detail-description .price{
        font-size: 100%;
    }

    .single-laptop-detail{
        display: flex;
        width: 100%;
        padding: 5% 0;
    }
    .single-laptop-detail-image img{
        width: 25rem;
        height: 20rem;
    }
    .single-laptop-detail-image{
        float: left;
        width: 40%;
    }
    .single-laptop-detail-description{
        float: right;
        width: 60%;
        padding: 0 4%;
    }
    .single-laptop-detail-description ul{
        font-size: 120%;
    }

    .single-laptop-detail-description .laptop-specification .l1{
        margin: 2% 0;
    }

    .laptop-specification .laptop-ram span .image{
        margin-left: 75%;
        margin-right: 0;
    }
    .laptop-specification .laptop-memory span .image{
        margin-left: 70.5%;
        margin-right: 0;
    }
    .laptop-specification .laptop-quantity span .image{
        margin-left: 74.6%;
        margin-right: 0;
    }

    .single-laptop-detail-description .price{
        font-size: 100%;
    }

    .footer button{
        width: 60%;
    }
    .phone-cart-specification{
        padding: 0 5%;
    }
    .phone-cart-specs{
        display: flex;
        font-size: 120%;
    }
    .phone-cart-specs div:nth-child(odd){
        width: 30%;
        text-align: center;
    }
    .phone-cart-specs div:nth-child(even){
        width: 40%;
        text-align: center;
    }
    .phone-cart-specs div:nth-child(3n){
        margin-top: 4%;
    }

    .phone-cart .phone-cart-details .phone-cart-product-image img{
        width: 8rem;
        height: 15rem;
    }

    .phone-cart-specification .phone-cart-name h1{
        font-size: 150%;
    }

    .total-cart-price{
        margin-left: 55%;
        margin-bottom: 2%;
    }

    .checkout-info .checkout-details{
        display: flex;
        flex-flow: row wrap;
    }
    .check_1{
        width: 40%;
        padding: 0 5%;
    }
    .check_2{
        width: 40%;
        padding: 0 5%;
    }
    .check_2 .payment-info{
        margin-top: 0;
    }
    .check_2 .order-details .product-details span:nth-child(even){
        margin-left: 45%;
    }

    .order-details .total-price span:nth-child(even){
        margin-left: 76%;
    }
    .cart-home-footer{
        display: block;
    }
    .checkout-home-footer{
        display: block;
    }

    .cart-home-footer{
        text-align: center;
        margin-top: 20%;
    }
    .cart-home-footer p{
     color: #000000;
     font-weight: 100;
     font-size: small;
    }
    .cart-home-footer div{
        background-color: black;
        height: 2rem;
        color: #ffffff;
        width: 15vw;
        line-height: 2rem;
        margin: auto;
        font-size:small;
    }

    .checkout-home-footer{
        text-align: center;
        margin-top: 20%;
    }
    .checkout-home-footer p{
     color: #000000;
     font-weight: 100;
     font-size: small;
    }
    .checkout-home-footer div{
        background-color: black;
        height: 2rem;
        color: #ffffff;
        width: 150vw;
        line-height: 2rem;
        margin: auto;
        font-size:small;
        bottom: 0;
    }
    .cart-footer{
        position: relative;
        z-index: 2;
        width: 20%;
        margin-top: -4%;
    }
    .cart-footer button{
        background-color: #ffffff;
        color: #000000;
        margin-left: 350%;
        height: 3rem;
        width: 92%;
    }
    .checkout-home-footer{
        text-align: center;
        margin-top: 20%;
    }
    .checkout-home-footer p{
     color: #000000;
     font-weight: 100;
     font-size: small;
    }
    .checkout-home-footer div{
        background-color: black;
        height: 2rem;
        color: #ffffff;
        width: 15vw;
        line-height: 2rem;
        margin: auto;
        font-size:small;
    }
    .checkout-place-footer{
        position: relative;
        z-index: 1;
        margin-top: -40%;
    }
    .checkout-place-footer button{
        background-color: #ffffff;
        color: #000000;
        width: 15%;
        height: 3rem;
        margin-left: 54%;
    }
    .payment-info .card-details input{
        width: 31.5%;
    }
}
